@import "_variables";

@mixin cell($width-cell, $height-cell) {
  width: $width-cell;
  height: $height-cell;
  background-color: $day-bgc;
  border: 1px solid #000;
  margin: 0 0 $margin $margin;
  position: relative;
  display: none;
}

.calendar > div {
  @include cell(100px, 100px);
}

.calendar div::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
