@import "_variables";

body {
  margin: 0;
  font-family: $calendar-font-family;
  font-size: $calendar-font-size;
}

* {
  box-sizing: border-box;
}

@import "_calendarCell";
@import "_calendarWrapper";
@import "_calendarAnimation";

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $i from 1 through 6 {
  .calendar-#{nth($start-day, $i)} div:first-child {
    margin-left: $width-cell*$i + $margin*($i+1);
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} div:nth-child(-n+#{$i}) {
    display: block;
  }
}
